#paige-authors,
#paige-breadcrumbs,
#paige-credit,
#paige-date,
#paige-keywords,
#paige-reading-time,
#paige-series,
#paige-toc,
.paige-authors,
.paige-date,
.paige-date-header,
.paige-keywords,
.paige-reading-time,
.paige-series,
.paige-summary {
    display: none;
}

#paige-breadcrumbs {
    display: none;
}

#paige-description {
    font-style: italic;
}

#paige-root {
    background-color: #FBFBFD;
    text-align: center;
}
#paige-title {
    color: #0c043b;
    font-size: 4rem;
}

p {
    font-size: 1.2rem;
}

.flex-container {
    display: flex;
    margin: 0 auto;
    max-width: 80%;
}

.flex-child {
    flex: 1;
    border: 3px #0c043b;
    border-radius: 25px;
}  

.flex-child:first-child {
    margin-right: 20px;
}
